@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "soraLight";
  src: url("assets/fonts/Sora-Light.ttf");
}

:root {
  /* default color: #007aff */
  --swiper-theme-color: rgb(0, 255, 140);
}

.swiper {
  max-height: 90vh;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
}

.swiper-slide img {
  /* width: 60%;
  height: 100%; */
  width: 100%;
  height: 100%;
}

/* Progress Bar customized if it's ever used */
/* .swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  height: 8px;
} */

.swiper-pagination-bullet {
  opacity: 1;
  background: var(--swiper-pagination-bullet-inactive-color, white);
}

/* Bulleted Progress bar, active bullets */
.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-bullet-inactive-color, rgb(0, 255, 140));
}
